<section>
    
<header>
  <?js if (names.length > 0) { ?>
    <?js
        var self = this;
        names.forEach(function(t) { ?>
        <a href="#<?js= t[0].name[0].toUpperCase() ?>"><?js= t[0].name[0].toUpperCase() ?></a> 
    <?js }); ?>
  <?js } ?>

</header>  

<article>

  <?js if (names.length > 0) { ?>
    <?js
        var self = this;
        names.forEach(function(t) { ?>
        <h4 id="<?js= t[0].name[0].toUpperCase() ?>"><?js= t[0].name[0].toUpperCase() ?></h4>
        <dl>
        <?js
          t.forEach(function(m) { ?>
            <dt><?js= self.linkto(m.longname,m.name) ?></dt>
            <dd><?js= m.definition ?></dd>
          <?js }); ?>
        </dl>
    <?js }); ?>
  <?js } ?>

</article>

</section>  
