.alien-ui-popup {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 6px;

  &-arrow {
    display: none;
    position: absolute;

    &:before,
    &:after {
      position: absolute;
      content: "";
      border: 10px solid rgba(0, 0, 0, 0);
    }

    &-top {
      top: -20px;
      left: 0;

      &:before,
      &:after {
        left: 0;
      }

      &:before {
        top: -1px;
        border-bottom-color: #bbb;
      }

      &:after {
        top: 0;
        border-bottom-color: #fff;
      }
    }

    &-right {
      top: 0;
      right: 0;

      &:before,
      &:after {
        top: 0;
      }

      &:before {
        left: 1px;
        border-left-color: #bbb;
      }

      &:after {
        left: 0;
        border-left-color: #fff;
      }
    }

    &-bottom {
      bottom: 0;
      left: 0;

      &:before,
      &:after {
        left: 0;
      }

      &:before {
        top: 1px;
        border-top-color: #bbb;
      }

      &:after {
        top: 0;
        border-top-color: #fff;
      }
    }

    &-left {
      top: 0;
      left: -20px;

      &:before,
      &:after {
        top: 0;
      }

      &:before {
        left: -1px;
        border-right-color: #bbb;
      }

      &:after {
        left: 0;
        border-right-color: #fff;
      }
    }
  }

  &-content{
    padding: 6px;
  }
}

