.alien-ui-popup {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 6px; }
  .alien-ui-popup-arrow {
    display: none;
    position: absolute; }
    .alien-ui-popup-arrow:before,
    .alien-ui-popup-arrow:after {
      position: absolute;
      content: "";
      border: 10px solid transparent; }
    .alien-ui-popup-arrow-top {
      top: -20px;
      left: 0; }
      .alien-ui-popup-arrow-top:before,
      .alien-ui-popup-arrow-top:after {
        left: 0; }
      .alien-ui-popup-arrow-top:before {
        top: -1px;
        border-bottom-color: #bbb; }
      .alien-ui-popup-arrow-top:after {
        top: 0;
        border-bottom-color: #fff; }
    .alien-ui-popup-arrow-right {
      top: 0;
      right: 0; }
      .alien-ui-popup-arrow-right:before,
      .alien-ui-popup-arrow-right:after {
        top: 0; }
      .alien-ui-popup-arrow-right:before {
        left: 1px;
        border-left-color: #bbb; }
      .alien-ui-popup-arrow-right:after {
        left: 0;
        border-left-color: #fff; }
    .alien-ui-popup-arrow-bottom {
      bottom: 0;
      left: 0; }
      .alien-ui-popup-arrow-bottom:before,
      .alien-ui-popup-arrow-bottom:after {
        left: 0; }
      .alien-ui-popup-arrow-bottom:before {
        top: 1px;
        border-top-color: #bbb; }
      .alien-ui-popup-arrow-bottom:after {
        top: 0;
        border-top-color: #fff; }
    .alien-ui-popup-arrow-left {
      top: 0;
      left: -20px; }
      .alien-ui-popup-arrow-left:before,
      .alien-ui-popup-arrow-left:after {
        top: 0; }
      .alien-ui-popup-arrow-left:before {
        left: -1px;
        border-right-color: #bbb; }
      .alien-ui-popup-arrow-left:after {
        left: 0;
        border-right-color: #fff; }
  .alien-ui-popup-content {
    padding: 6px; }
