.alien-ui-msg {
    box-shadow: 0 0 30px #666;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
}

.alien-ui-msg-header {
    position: relative;
    font-weight: normal;
    overflow: hidden;
}

.alien-ui-msg-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 10px;
    font-size: 12px;
    text-align: center;
    line-height: 12px;
    cursor: move;
    color: #aaa;
}

.alien-ui-msg-close {
    position: absolute;
    top: 0;
    right: 0;
    color: #ccc;
    width: 32px;
    height: 32px;
    text-align: center;
    cursor: pointer;
    font: normal normal normal 30px/32px Arial;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.alien-ui-msg-close:hover {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    color: #aaa;
}

.alien-ui-msg-body {
    padding: 20px;
    word-break: break-all;
    line-height: 22px;
    font-size: 16px;
    color: #444;
}

.alien-ui-msg-buttons {
    border-top: 1px solid #ccc;
    overflow: hidden;
}

.alien-ui-msg-button {
    float: left;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    color: #0076FF;
}

.alien-ui-msg-button:hover {
    background: #F4F4F4;
}

.alien-ui-msg-button:active {
    box-shadow: inset 0 0 5px #ddd;
}

.alien-ui-msg-buttons-horizontal .alien-ui-msg-button {
    border-left: 1px solid #ccc;
    margin-left: -1px;
}

.alien-ui-msg-buttons-vertical .alien-ui-msg-button {
    border-top: 1px solid #ccc;
}

.alien-ui-msg-buttons-2 .alien-ui-msg-button {
    width: 50%;
}

.alien-ui-msg-buttons-3 .alien-ui-msg-button {
    width: 33.3333333333%;
}

.alien-ui-msg-buttons .alien-ui-msg-button-0 {
    border-top: 0;
    border-left: 0;
    margin-left: 0;
}