<div id="alien-ui-msg-{{id}}" class="alien-ui-msg">

    {{if title}}
    <div class="alien-ui-msg-header">
        <div class="alien-ui-msg-title">{{=title}}</div>
        <div class="alien-ui-msg-close">×</div>
    </div>
    {{/if}}

    <div class="alien-ui-msg-body">{{=body}}</div>

    {{if buttons && buttons.length}}
    <div class="alien-ui-msg-buttons alien-ui-msg-buttons-{{buttons.length}} alien-ui-msg-buttons-{{buttons.length > 3 ? 'vertical' : 'horizontal'}}">
        {{list buttons as index,button}}
        <div class="alien-ui-msg-button" data-index="{{index}}">{{button}}</div>
        {{/list}}
    </div>
    {{/if}}

</div>
