@charset "utf-8";

.alien-ui-autoheight{
    -webkit-transition: width, height .3s;
    -moz-transition: width, height .3s;
    -ms-transition: width, height .3s;
    -o-transition: width, height .3s;
    transition: width, height .3s;
}
