.alien-ui-datetimepicker{
  width: 300px;
  font-size: 14px;
  background: #fff;
  cursor: default;
  overflow: hidden;

  &-popup{
    border: 2px solid #ccc;

    .alien-ui-popup-content{
      padding: 0;
      border-radius: 6px;
      overflow: hidden;
    }
  }

  *{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  &-wide{
    width: 600px;

    .alien-ui-datetimepicker-date{
      border-right: 1px solid #ccc;
    }
  }

  &-date,
  &-time{
    width: 300px;
    float: left;
  }

  &-toolbar{
    overflow: hidden;
    border-bottom: 0;
  }

  &-select{
    float: left;
    width: 50%;
    height: 34px;
    position: relative;
    overflow: hidden;

    &:first-child{
      border-right: 1px solid #ccc;
    }

    select{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border: 0;
      border-radius: 0;
      font: inherit;
      color: inherit;
      background: #fff;
    }
  }

  table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }

  th,td{
    border: 1px solid #ddd;
    padding: 10px;
    vertical-align: middle;
    text-align: center;

    &:first-child{
      border-left: 0;
    }

    &:last-child{
      border-right: 0;
    }
  }

  tr:last-child{
    td{
      border-bottom: 0;
    }
  }

  th{
    background: #eee;
  }

  td{
    &:hover{
      background: #f9f9f9;
    }
  }

  // 上个月
  &-prev{
    color: #ccc;
  }

  // 当前月
  &-this{
    color: #333;
  }

  // 下个月
  &-next{
    color: #ccc;
  }

  & &-today,
  & &-today:hover{
    background: #ddd;
  }

  & &-active,
  & &-active:hover{
    background: #3AA1DF;
    color: #FFF;
  }

  &-time{
    padding: 40px 10px;
  }

  &-item{
    position: relative;
    padding-left: 50px;
    height: 20px;
    line-height: 20px;
    margin-bottom: 20px;

    &:last-child{
      margin-bottom: 0;
    }

    &-key{
      position: absolute;
      top: 0;
      left: 0;
      width: 50px;
      text-align: center;
    }

    &-val{
      font-size: 16px;
      font-weight: 900;
    }
  }

  &-action{
    clear: both;
    border-top: 1px solid #CCC;
    overflow: hidden;
  }

  &-button{
    width: 33.33333333%;
    float: left;
    text-align: center;
    height: 34px;
    line-height: 34px;
    color: #888;
    cursor: pointer;
    border-right: 1px solid #ccc;

    &:hover{
      background: #f8f8f8;
      color: #666;
    }

    &:last-child{
      border-right: 0;
    }
  }
}