<div class="alien-ui-datetimepicker {{if hasHour}}alien-ui-datetimepicker-wide{{/if}}" id="alien-ui-datetimepicker-{{id}}">
    <div class="alien-ui-datetimepicker-date">
        <!-- toolbar -->
        <div class="j-flag"></div>
        <!-- list -->
        <div class="j-flag"></div>
    </div>
    <!-- range -->
    {{if hasHour}}
    <div class="alien-ui-datetimepicker-time">
        <div class="alien-ui-datetimepicker-item">
            <div class="alien-ui-datetimepicker-item-key">时间：</div>
            <div class="alien-ui-datetimepicker-item-val j-flag"></div>
        </div>

        <div class="alien-ui-datetimepicker-item">
            <div class="alien-ui-datetimepicker-item-key">小时：</div>
            <div class="alien-ui-datetimepicker-item-val j-flag"></div>
        </div>

        {{if hasMinute}}
        <div class="alien-ui-datetimepicker-item">
            <div class="alien-ui-datetimepicker-item-key">分钟：</div>
            <div class="alien-ui-datetimepicker-item-val j-flag"></div>
        </div>
        {{/if}}

        {{if hasSecond}}
        <div class="alien-ui-datetimepicker-item">
            <div class="alien-ui-datetimepicker-item-key">秒数：</div>
            <div class="alien-ui-datetimepicker-item-val j-flag"></div>
        </div>
        {{/if}}
    </div>
    {{/if}}
    <div class="alien-ui-datetimepicker-action">
        <div class="alien-ui-datetimepicker-button j-cancel">取消</div>
        <div class="alien-ui-datetimepicker-button j-now">现在</div>
        <div class="alien-ui-datetimepicker-button j-sure">确定</div>
    </div>
</div>
