.alien-ui-slidebar {
  position: relative;
  height: 20px;

  &-bg,
  &-fg {
    position: absolute;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    border-top: 2px solid;
    top: 50%;
    left: 0;
  }

  &-bg{
    right: 0;
    border-color: #BEC4E9;
  }
  
  &-fg{
    width: 0;
    border-color: #243AB4;
    transition: all 200ms;
  }

  &-control {
    position: absolute;
    width: 16px;
    height: 16px;
    font-size: 0;
    line-height: 1;
    border-radius: 100%;
    background: #BEC4E9;
    transition: all 200ms;
    top: 50%;
    transform: translateY(-50%);

    &:hover {
      width: 22px;
      height: 22px;
      background: #7C89D2;
    }

    &-active,
    &-active:hover {
      width: 20px;
      height: 20px;
      background: #243AB4;
    }
  }
}
