@charset "utf-8";
/*!
 * style.css
 * @author ydr.me
 * @create 2014-10-03 17:00
 */

body,input,button,textarea{
    font-family: Helvetica,Roboto Slab,tahoma,Arial,"Lucida Grande", "Microsoft JhengHei","华文细黑",STXihei,"Microsoft YaHei","微软雅黑",Heiti,"黑体",SimSun,"宋体",sans-serif;
}

body{
    position: relative;
}

#main {
    position: fixed;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

#docs-sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    bottom: 0;
    overflow: auto;
}

.sidebar-list {
    padding: 0;
    margin: 0;
    line-height: 40px;
}

.sidebar-list li {
}

.sidebar-list>li>a {
    display: block;
    padding: 0 10px;
}

.sidebar-list>li.active>a{
    background: #428bca;
    color: #fff;
}

.sidebar-list .sidebar-header {
    background: #eee;
    padding: 10px;
    font-size: 20px;
}


.dropdown-menu{
    max-height: 350px;
    overflow: auto;
}


#docs-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 200px;
    overflow: auto;
}

#docs-content .content{
    padding: 20px;
}

.page-title{
    background: #eee;
    margin: -20px -20px 20px;
    padding: 10px;
    font-size: 20px;
    line-height: 40px;
    font-weight: normal;
}

.page-header{

}

.page-subtitle{
    padding: 0;
    margin: 0;
}

.nav-tabs{
    margin-bottom: 15px;
}

.params .th-name,
.params .th-type,
.params .th-arg{
    max-width: 150px;
}

.docs-member,
.docs-method {
    padding: 10px 0;
}

.type-signature{
    font-size: 80%;
    color: #2B7E2E;
}

.optional{
    position: relative;
}

.optional::before{
    content: "[";
}

.optional::after{
    content: "]";
}

.details {
    margin-top: 20px;
}

.returns-table td{
    padding: 0 10px;
}