.alien-ui-datepicker {
  display: none;
  position: absolute;
  width: 300px; }
  .alien-ui-datepicker:before,
  .alien-ui-datepicker:after {
    content: '';
    position: absolute;
    left: 20px;
    border: 6px solid transparent;
    margin-top: -12px; }
  .alien-ui-datepicker:before {
    top: 0;
    border-bottom-color: #bbb; }
  .alien-ui-datepicker:after {
    top: 1px;
    border-bottom-color: #eee; }
  .alien-ui-datepicker table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0; }
  .alien-ui-datepicker th, .alien-ui-datepicker td {
    border: 1px solid #ddd;
    padding: 6px;
    font-size: 12px;
    vertical-align: middle;
    text-align: center; }
  .alien-ui-datepicker th {
    background: #eee; }
  .alien-ui-datepicker-prev {
    color: #ccc; }
  .alien-ui-datepicker-this {
    color: #333; }
  .alien-ui-datepicker-next {
    color: #ccc; }
  .alien-ui-datepicker-today {
    background: #DDF1FD; }
