.alien-ui-datepicker{
  display: none;
  opacity: 0;
  position: absolute;
  width: 300px;
  font-size: 14px;
  background: #fff;
  border: 1px solid #DDD;
  box-shadow: 0 0 10px #EEE;
  cursor: default;

  *{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  &-toolbar{
    overflow: hidden;
    border: 1px solid #DDD;
    border-bottom: 0;
  }

  &-select{
    float: left;
    width: 50%;
    height: 34px;
    position: relative;
    overflow: hidden;

    &:first-child{
      border-right: 1px solid #ddd;
    }

    select{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border: 0;
      border-radius: 0;
      font: inherit;
      color: inherit;
      background: #fff;
    }
  }

  &:before,
  &:after{
    content: '';
    position: absolute;
    left: 20px;
    border: 6px solid transparent;
    margin-top: -12px;
  }

  &:before{
    top: -1px;
    border-bottom-color: #DDD;
  }

  &:after{
    top: 1px;
    border-bottom-color: #fff;
  }

  table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }

  th,td{
    border: 1px solid #ddd;
    padding: 10px;
    vertical-align: middle;
    text-align: center;
  }

  th{
    background: #eee;
  }

  td{
    &:hover{
      background: #f9f9f9;
    }
  }

  // 上个月
  &-prev{
    color: #ccc;
  }

  // 当前月
  &-this{
    color: #333;
  }

  // 下个月
  &-next{
    color: #ccc;
  }

  & &-today,
  & &-today:hover{
    background: #ddd;
  }

  & &-active,
  & &-active:hover{
    background: #3AA1DF;
    color: #FFF;
  }
}