.alien-ui-datepicker {
  display: none;
  opacity: 0;
  position: absolute;
  width: 300px;
  font-size: 14px;
  background: #fff;
  border: 1px solid #DDD;
  box-shadow: 0 0 10px #EEE;
  cursor: default; }
  .alien-ui-datepicker * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .alien-ui-datepicker-toolbar {
    overflow: hidden;
    border: 1px solid #DDD;
    border-bottom: 0; }
  .alien-ui-datepicker-select {
    float: left;
    width: 50%;
    height: 34px;
    position: relative;
    overflow: hidden; }
    .alien-ui-datepicker-select:first-child {
      border-right: 1px solid #ddd; }
    .alien-ui-datepicker-select select {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border: 0;
      border-radius: 0;
      font: inherit;
      color: inherit;
      background: #fff; }
  .alien-ui-datepicker:before,
  .alien-ui-datepicker:after {
    content: '';
    position: absolute;
    left: 20px;
    border: 6px solid transparent;
    margin-top: -12px; }
  .alien-ui-datepicker:before {
    top: -1px;
    border-bottom-color: #DDD; }
  .alien-ui-datepicker:after {
    top: 1px;
    border-bottom-color: #fff; }
  .alien-ui-datepicker table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0; }
  .alien-ui-datepicker th, .alien-ui-datepicker td {
    border: 1px solid #ddd;
    padding: 10px;
    vertical-align: middle;
    text-align: center; }
  .alien-ui-datepicker th {
    background: #eee; }
  .alien-ui-datepicker td:hover {
    background: #f9f9f9; }
  .alien-ui-datepicker-prev {
    color: #ccc; }
  .alien-ui-datepicker-this {
    color: #333; }
  .alien-ui-datepicker-next {
    color: #ccc; }
  .alien-ui-datepicker .alien-ui-datepicker-today,
  .alien-ui-datepicker .alien-ui-datepicker-today:hover {
    background: #ddd; }
  .alien-ui-datepicker .alien-ui-datepicker-active,
  .alien-ui-datepicker .alien-ui-datepicker-active:hover {
    background: #3AA1DF;
    color: #FFF; }
