.alien-ui-tooltip {
  background: #000;
  color: #FFF;
  border: 0;
  border-radius: 3px;

  .alien-ui-popup {
    &-arrow {
      &:after {
        border: 5px solid rgba(0, 0, 0, 0);
      }

      &:before {
        display: none;
      }

      &:after {
        border-top-color: #000;
      }
    }

    &-content {
      padding: 5px 10px;
      font-size: 13px;
      line-height: 20px;
    }
  }
}