.alien-ui-tooltip {
  background: #000;
  color: #FFF;
  border: 0;
  border-radius: 3px; }
  .alien-ui-tooltip .alien-ui-popup-arrow:after {
    border: 5px solid transparent; }
  .alien-ui-tooltip .alien-ui-popup-arrow:before {
    display: none; }
  .alien-ui-tooltip .alien-ui-popup-arrow:after {
    border-top-color: #000; }
  .alien-ui-tooltip .alien-ui-popup-content {
    padding: 5px 10px;
    font-size: 13px;
    line-height: 20px; }
