::-moz-selection {
    background-color: @textHighlightColor;
    color: @black;
}

::selection {
    background-color: @textHighlightColor;
    color: @black;
}


html {
    body {
        padding-top: 40px;
    }
}

blockquote {
    code {
        font-size: 0.85em;
    }

    // increase space between author/since and description text
    small {
        margin-top: 1em;
    }

    ul {
        margin-top: 10px;

        li {
            margin: 0.4em 0 0.4em 1em;
        }
    }
}

code {
    color: #ff8900;
}


h3 {
    font-size: 29px;
}

li {
    &.deprecated {
        text-decoration: line-through;
    }
}

table {
    td {
        padding: 4px;

        &.type {
            // when a type is like "null | boolean" we want them on the same line
            white-space: nowrap;
        }
    }
}

.dropdown-menu {
    max-height: 400px;
    overflow-y: scroll;
}

.label {
    a {
        color: @white;
        text-decoration: underline;
    }
}

.signature {
    code {
        font-size: 0.8em;
        font-weight: normal;
    }
}

.well {
    pre {
        background-color: #fefefe;
    }
}

// mixin for each entry type (members, methods, etc)
.mEntry() {
    padding:10px 10px 10px 20px;
    border-bottom:2px solid #eee;

    &:hover {
        box-shadow: 0 0 5px @blueLight;
    }

    &:last-child {
        border-bottom: 0;
    }
}


#main {
    // the main nav (fixed)
    > nav {
        &.navbar {
            .brand {
                margin-left: 0;
            }
        }
    }

    #docs-sidebar {
        ul {
            &.nav {
                padding: 15px 5px;
                overflow-y: scroll;
                overflow-x: hidden;

                li {

                    &.active {
                        font-weight: bold;

                        a {
                            &.inherited {
                                color: @white;
                                font-style: italic;
                            }
                        }
                    }

                    &.overrides {
                        color: #28369f;
                    }

                    a, h4 {
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                    a {
                        &.inherited {
                            color: @blueLight;
                            font-style: italic;
                        }
                        &.overrides {
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }

    #docs-content {
        padding: 10px 0;

        // label showing inherited/overriding
        section {
            &::target {
                box-shadow: 0 0 5px @blueLight;
            }

            &.inherited,
            &.overrides {
                dt {
                    .label {
                        float: right;
                    }
                }
            }
            &.overrides {
                dt {
                    .label {
                        background-color: lighten(#6978e9, 10%);
                    }
                }
            }
        }

        .container-overview {
            h4 {
                &.name {
                    // this was to hide "new ClassName()" output, but that was before
                    // i was using the jsdocs3 syntax properly.  =]
                    //display: none;
                }
            }
        }

        .docs-member,
        .docs-method {
            > dt {
                font-family: Consolas, monospace;

                h4 {
                    span {
                        &.type-signature {
                            &:first-child {
                                color: #999999;
                            }

                            .label {
                                font-size: 0.85em;
                                line-height: 1.2em;
                            }
                        }
                    }
                }
            }

            // for descriptions, but not in the class description
            .lead {
                font-size: 18px;
            }

            .returns-table {
                margin: -10px 0 20px;
            }
        }

        #docs-members {
            .docs-member {
                .mEntry();
            }
        }

        #docs-methods {
            .docs-method {
                .mEntry();
            }
        }
    }
}

// tablet
@media (max-width: 979px) {
    #main {
        // make top nav fixed again. bootstrap thinks that mobile support for the fixed
        // property is spotty, so they changed it. now, we're changing it back.
        .navbar-fixed-top,
        .navbar-fixed-bottom {
            position: fixed;
        }
    }
}


// phones
@media (max-width: 480px) {
    // remove top padding since navbar isnt fixed
    html {
        body {
            padding-top: 0;
        }
    }

    #main {
        // make top nav static again. since we changed it for tablets, lets put it back for phones
        .navbar-fixed-top,
        .navbar-fixed-bottom {
            position: static;
        }
    }
}

#toTop {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 15px;
    background-color: @blue;
    color: @white;
    text-decoration: none;
}
