.alien-ui-ctrllist {
  border-radius: 4px;
  box-shadow: 5px 5px 10px #dfdfdf;
  background: #f0f0f0;
  min-width: 200px;
  overflow: auto; }
  .alien-ui-ctrllist-item {
    position: relative;
    line-height: 20px;
    padding: 5px;
    white-space: nowrap;
    overflow: hidden; }
    .alien-ui-ctrllist-item-active {
      background: #7390fe;
      color: #FFF; }
  .alien-ui-ctrllist-image {
    width: 20px;
    height: 20px;
    border-radius: 2px;
    float: left;
    vertical-align: top;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0;
    margin: 0 4px 0 0; }
  .alien-ui-ctrllist-text {
    font-size: 14px;
    float: left; }
