<?js
var data = obj;
var desc = '', dataType = '';

if (data.description) {
    desc = description;
}

if (data.type && data.type.names) {
    dataType = this.partial('type.tmpl', data.type.names);
}
?>

<table class="returns-table">
    <tbody>
        <tr>
            <td><?js= dataType ?></td>
            <td class="param-desc"><?js= desc ?></td>
        </tr>
    </tbody>
</table>
