$border-color: #ddd;
$height: 30px;

.donkey-ui-editor {
  position: relative;
  border: 1px solid $border-color;
  box-shadow: 0 0 4px #eee;
  border-radius: 3px;

  &-header {
    border-bottom: 1px solid $border-color;
    box-shadow: 0 2px 5px #eee;
    background: #FBFBFB;
    padding: 5px;
  }

  &-icon {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: $height;
    height: $height;
    border: 0;
    cursor: pointer;

    &:hover {
      background: #eee;
    }

    &-active,
    &-active:hover {
      background: $border-color;
    }

    &:after {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      top: 50%;
      left: 50%;
      margin-top: -10px;
      margin-left: -10px;
    }

    &-bold:after {
      background-position: 0 0;
    }

    &-italic:after {
      background-position: -20px 0;
    }

    &-underline:after {
      background-position: -40px 0;
    }

    &-strokethrouth:after {
      background-position: -60px 0;
    }

    &-orderlist:after {
      background-position: -80px 0;
    }

    &-unorderlist:after {
      background-position: -100px 0;
    }

    &-justifyleft:after {
      background-position: -120px 0;
    }

    &-justifyright:after {
      background-position: -140px 0;
    }

    &-justifycenter:after {
      background-position: -160px 0;
    }

    &-justifyboth:after {
      background-position: -180px 0;
    }

    &-forecolor:after {
      background-position: 0 -20px;
    }

    &-backcolor:after {
      background-position: -20px -20px;
    }

    &-location:after {
      background-position: -40px -20px;
    }

    &-image:after {
      background-position: -60px -20px;
    }

    &-source:after {
      background-position: -80px -20px;
    }

    &-code:after {
      background-position: -100px -20px;
    }

    &-link:after {
      background-position: -120px -20px;
    }

    &-unlink:after {
      background-position: -140px -20px;
    }

    &-heading:after {
      background-position: -160px -20px;
    }

    &-line:after {
      background-position: -180px -20px;
    }
  }

  &-separator {
    display: inline-block;
    margin: 0 4px;
    border-right: 1px solid #efefef;
    border-left: 1px solid #fff;
    height: $height;
    vertical-align: middle;
  }

  &-body {
    overflow: auto;
  }

  &-content {
    outline: none;
    position: relative;
    overflow: auto;
    height: 100%;
    padding: 6px;
  }
}

