.alien-ui-editor-fullscreen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff; }
  .alien-ui-editor-fullscreen .CodeMirror {
    position: absolute;
    top: 0;
    bottom: 0;
    border: 0;
    left: 0;
    width: 50%; }
  .alien-ui-editor-fullscreen-preview {
    display: block; }

.alien-ui-editor-preview {
  position: absolute;
  top: 0;
  bottom: 0;
  border: 0;
  display: none;
  right: 0;
  left: 50%;
  margin-left: 20px;
  overflow: auto;
  padding: 10px;
  background: #f9f9f9;
  border-left: 1px solid #ccc; }

.alien-ui-editor-nopreview .CodeMirror {
  width: 100%; }

.alien-ui-editor-nopreview .alien-ui-editor-preview {
  display: none; }

.alien-ui-editor-upload {
  text-align: center; }
  .alien-ui-editor-upload * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box; }
  .alien-ui-editor-upload-preview {
    display: inline-block;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    vertical-align: middle;
    border: 4px solid #ddd; }
    .alien-ui-editor-upload-preview img {
      vertical-align: middle;
      width: auto;
      height: auto;
      max-width: 100px;
      max-height: 100px; }

.alien-ui-editor-inner {
  position: relative; }

.alien-ui-editor-textarea {
  overflow: hidden;
  resize: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.alien-ui-editor-at {
  display: none;
  position: absolute;
  min-width: 100px;
  border: 1px solid #CCC;
  background: #FFF;
  max-height: 200px;
  overflow: auto;
  box-shadow: 2px 2px 5px #C8C8C8;
  border-radius: 4px; }
  .alien-ui-editor-at-item {
    line-height: 16px;
    padding: 5px;
    font-size: 13px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: default;
    color: #666; }
    .alien-ui-editor-at-item-hover {
      background: #57B3F8;
      color: #FFF; }
