.alien-ui-markdown {
  position: relative;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 0 10px #888; }
  .alien-ui-markdown-inner {
    position: relative;
    height: 100%;
    background: #fff; }
  .alien-ui-markdown-header {
    display: none;
    border-bottom: 1px solid #ccc; }
  .alien-ui-markdown-body,
  .alien-ui-markdown-input,
  .alien-ui-markdown-output {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1; }
  .alien-ui-markdown-body {
    bottom: 30px; }
  .alien-ui-markdown-input {
    padding: 10px; }
    .alien-ui-markdown-input textarea {
      display: block;
      width: 100%;
      height: 100%;
      border: 0;
      outline: 0;
      resize: none;
      font: normal 16px/20px Menlo, Monaco, Consolas, "Courier New", monospace; }
  .alien-ui-markdown-output {
    display: none;
    padding: 10px;
    overflow: auto; }
  .alien-ui-markdown-footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: #F3F3F3;
    border-top: 1px solid #eee;
    font-size: 12px;
    text-align: right;
    color: #888;
    height: 30px;
    line-height: 30px;
    padding: 0 10px; }
  .alien-ui-markdown-help {
    margin-left: 20px;
    cursor: pointer; }
    .alien-ui-markdown-help:hover {
      color: #666; }
  .alien-ui-markdown-tips {
    display: none;
    position: fixed;
    background: #fff;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 320px;
    font-size: 14px;
    border-radius: 0 0 3px 3px;
    box-shadow: 0 0 12px 4px #A0A0A0;
    padding: 10px 0; }
  .alien-ui-markdown-title {
    text-align: center;
    font-size: 20px;
    padding: 10px 0;
    color: #777; }
  .alien-ui-markdown-line {
    line-height: 1;
    padding: 3px 10px; }
  .alien-ui-markdown-kbd {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    background: #888;
    color: #fff;
    padding: 3px;
    border-radius: 2px;
    display: inline-block;
    margin: 0 2px; }
  .alien-ui-markdown-desc {
    color: #888; }
  .alien-ui-markdown-fullscreen {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 0;
    box-shadow: none;
    border: 0;
    height: auto !important; }
  .alien-ui-markdown-live .alien-ui-markdown-input {
    width: 50%; }
  .alien-ui-markdown-live .alien-ui-markdown-output {
    display: block;
    left: 50%;
    border-left: 1px solid #ccc; }
  .alien-ui-markdown-writen {
    background: #F3F3F3;
    padding-top: 30px; }
  .alien-ui-markdown-writen .alien-ui-markdown-inner {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px; }
