.donkey-ui-editor_action-heading {
  &-item {
    display: block;
    border: 0;
    margin: 0;
    background: transparent;
    outline: 0;
    box-shadow: none;
    cursor: pointer;
    line-height: 30px;
    padding: 5px 10px;

    &:hover {
      background: #f8f8f8;
    }

    * {
      margin: 0;
      padding: 0;
    }
  }
}

