.donkey-ui-editor_action-heading-item {
  display: block;
  border: 0;
  margin: 0;
  background: transparent;
  outline: 0;
  box-shadow: none;
  cursor: pointer;
  line-height: 30px;
  padding: 5px 10px; }
  .donkey-ui-editor_action-heading-item:hover {
    background: #f8f8f8; }
  .donkey-ui-editor_action-heading-item * {
    margin: 0;
    padding: 0; }
