.alien-ui-dialog-overflow {
    overflow: hidden;
}

.alien-ui-dialog-bg {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, .3);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.alien-ui-dialog {
    display: none;
    position: absolute;
    width: 500px;
    box-shadow: 0 0 20px #A0A0A0;
    overflow: hidden;
}

.alien-ui-dialog-header {
    position: relative;
    font-weight: normal;
    overflow: hidden;
    background: -moz-linear-gradient(0deg, #FFFFFF 0, #EEEEEE 100%);
    background: -webkit-linear-gradient(0deg, #FFFFFF 0, #EEEEEE 100%);
    background: -o-linear-gradient(0deg, #FFFFFF 0, #EEEEEE 100%);
    background: -ms-linear-gradient(0deg, #FFFFFF 0, #EEEEEE 100%);
    background: linear-gradient(0deg, #FFFFFF 0, #EEEEEE 100%);
}

.alien-ui-dialog-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 10px;
    font-size: 12px;
    text-align: center;
    line-height: 12px;
    cursor: move;
    color: #444;
}

.alien-ui-dialog-close {
    position: absolute;
    top: 0;
    right: 0;
    color: #ccc;
    width: 32px;
    height: 32px;
    text-align: center;
    cursor: pointer;
    font: normal normal normal 30px/32px Arial;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.alien-ui-dialog-close:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    color: #555;
}

.alien-ui-dialog-body {
    position: relative;
    padding: 20px;
    overflow: auto;
    background: #fff;
}

.alien-ui-dialog-iframe {
    display: block;
    background: #fff;
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 400px;
}

@-webkit-keyframes alien-ui-dialog-shake {
    0%, 100% {
        -webkit-transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
        -webkit-transform: translateX(10px);
    }
}

@-moz-keyframes alien-ui-dialog-shake {
    0%, 100% {
        -moz-transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        -moz-transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
        -moz-transform: translateX(10px);
    }
}

@keyframes alien-ui-dialog-shake {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(10px);
    }
}

.alien-ui-dialog-shake {
    -webkit-animation: alien-ui-dialog-shake both 500ms;
    -moz-animation: alien-ui-dialog-shake both 500ms;
    animation: alien-ui-dialog-shake both 500ms;
}