<div id="alien-ui-dialog-bg-{{id}}" class="alien-ui-dialog-bg">
    <div id="alien-ui-dialog-{{id}}" class="alien-ui-dialog"
         draggablefor="{{title === null && canDrag ? 'alien-ui-dialog-' + id : 'null'}}">
        {{if wrap}}
        <div class="alien-ui-dialog-container">
            {{if title}}
            <div class="alien-ui-dialog-header" draggablefor="{{title && canDrag ? 'alien-ui-dialog-' + id : 'null'}}">
                <div class="alien-ui-dialog-title">{{title}}</div>
                <div class="alien-ui-dialog-close">×</div>
            </div>
            {{/if}}
            <div class="alien-ui-dialog-body"></div>
        </div>
        {{/if}}
    </div>
</div>