{{if isModal}}
<div id="alien-ui-dialog-bg-{{id}}" class="alien-ui-dialog-bg">
{{/if}}
    <div id="alien-ui-dialog-{{id}}" class="alien-ui-dialog"
         draggablefor="{{!title && canDrag ? 'alien-ui-dialog-' + id : 'null'}}">

        {{if isWrap}}
            {{if title}}
            <div class="alien-ui-dialog-header" draggablefor="{{title && canDrag ? 'alien-ui-dialog-' + id : 'null'}}">
                <div class="alien-ui-dialog-title">{{title}}</div>
                {{if !hideClose}}
                <div class="alien-ui-dialog-close">×</div>
                {{/if}}
            </div>
            {{/if}}
            <div class="alien-ui-dialog-body"></div>
        {{/if}}

    </div>
{{if isModal}}
</div>
{{/if}}
