.donkey-ui-editor_action-link {
  font-size: 14px;

  &-item {
    position: relative;
    padding-left: 75px;
    line-height: 30px;
    margin-bottom: 10px;
  }

  &-key {
    position: absolute;
    top: 0;
    left: 0;
  }

  &-ipt {
    display: block;
    border: 1px solid #ccc;
    width: 100%;
    padding: 6px;

    &:focus {
      border-color: #03A9F4;
      outline: 0;
    }
  }
}
