.alien-ui-range {
  position: relative;
  height: 20px; }
  .alien-ui-range-scale {
    position: absolute;
    top: 0;
    right: 0;
    left: 0; }
    .alien-ui-range-scale-item {
      position: absolute;
      top: 0;
      left: 0;
      width: 1px;
      height: 20px;
      background: #BBB; }
      .alien-ui-range-scale-item:first-child,
      .alien-ui-range-scale-item:last-child {
        width: 2px; }
  .alien-ui-range-bg,
  .alien-ui-range-fg {
    position: absolute;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    border-top: 2px solid;
    top: 50%;
    left: 0; }
  .alien-ui-range-bg {
    right: 0;
    border-color: #bbb; }
  .alien-ui-range-fg {
    width: 0;
    border-color: #0b91f5;
    transition: all 200ms; }
  .alien-ui-range-control {
    position: absolute;
    width: 16px;
    height: 16px;
    margin-left: -8px;
    font-size: 0;
    line-height: 1;
    border-radius: 100%;
    background: #0b91f5;
    transition: all 200ms;
    top: 50%;
    transform: translateY(-50%); }
    .alien-ui-range-control:hover {
      width: 20px;
      height: 20px; }
    .alien-ui-range-control-active,
    .alien-ui-range-control-active:hover {
      width: 20px;
      height: 20px; }
