.alien-ui-imgview {
  position: relative;
  width: 100%;
  height: 100%; }
  .alien-ui-imgview-content {
    position: absolute;
    top: 0;
    right: 0;
    left: 0; }
    .alien-ui-imgview-content-loading .alien-ui-imgview-loading {
      display: block; }
    .alien-ui-imgview-content-loading .alien-ui-imgview-body {
      display: none; }
  .alien-ui-imgview-loading,
  .alien-ui-imgview-body {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }
  .alien-ui-imgview-loading {
    display: none; }
  .alien-ui-imgview-body {
    background-color: #FFF; }
  .alien-ui-imgview-prev,
  .alien-ui-imgview-next {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-background-size: cover;
    background-size: cover;
    width: 100px;
    height: 100px;
    opacity: .3;
    cursor: pointer; }
    .alien-ui-imgview-prev:hover,
    .alien-ui-imgview-next:hover {
      opacity: .5; }
  .alien-ui-imgview-disabled,
  .alien-ui-imgview-disabled:hover {
    opacity: .1;
    cursor: not-allowed; }
  .alien-ui-imgview-prev {
    left: 0; }
  .alien-ui-imgview-next {
    right: 0; }
  .alien-ui-imgview-nav {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    text-align: center; }
    .alien-ui-imgview-nav-list {
      display: inline-block;
      text-align: center; }
    .alien-ui-imgview-nav-item {
      float: left;
      -webkit-background-size: cover;
      background-size: cover;
      background-position: center 0;
      cursor: pointer;
      opacity: .2; }
      .alien-ui-imgview-nav-item:hover {
        opacity: .5; }
      .alien-ui-imgview-nav-item-active,
      .alien-ui-imgview-nav-item-active:hover {
        cursor: not-allowed;
        opacity: 1; }
  .alien-ui-imgview-close {
    position: absolute;
    font-size: 40px;
    color: #666;
    right: 10px;
    top: 10px;
    font-family: sans-serif;
    cursor: pointer; }
    .alien-ui-imgview-close:hover {
      color: #888; }
