.alien-ui-range {
  position: relative;
  height: 20px;

  &-scale {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    &-item {
      position: absolute;
      top: 0;
      left: 0;
      width: 1px;
      height: 20px;
      background: #BBB;

      &:first-child,
      &:last-child {
        width: 2px;
      }
    }
  }

  &-bg,
  &-fg {
    position: absolute;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    border-top: 2px solid;
    top: 50%;
    left: 0;
  }

  &-bg {
    right: 0;
    border-color: #bbb;
  }

  &-fg {
    width: 0;
    border-color: #0b91f5;
    transition: all 200ms;
  }

  &-control {
    position: absolute;
    width: 16px;
    height: 16px;
    margin-left: -8px;
    font-size: 0;
    line-height: 1;
    border-radius: 100%;
    background: #0b91f5;
    transition: all 200ms;
    top: 50%;
    transform: translateY(-50%);

    &:hover {
      width: 20px;
      height: 20px;
    }

    &-active,
    &-active:hover {
      width: 20px;
      height: 20px;
    }
  }
}
