.alien-ui-loading {
  background: #000;
  padding: 10px;
  text-align: center;
  border-radius: 6px;

  &,
  & * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  &-inner {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  &-gif {
    $size: 30px;
    display: inline-block;
    width: $size;
    height: $size;
    -webkit-background-size: $size;
    background-size: $size;
  }

  &-text {
    color: #fff;
    font-size: 12px;
    line-height: 1;
    white-space: nowrap;
    padding-top: 10px;
  }
}