.alien-ui-imgclip,
.alien-ui-imgclip * {
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.alien-ui-imgclip-bg {
    display: none;
    background: rgba(0, 0, 0, 0.36);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.alien-ui-imgclip-selection {
    display: none;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    overflow: hidden;
}

.alien-ui-imgclip-in {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px dashed #fff;
    cursor: move;
}

.alien-ui-imgclip-n,
.alien-ui-imgclip-ne,
.alien-ui-imgclip-se,
.alien-ui-imgclip-e,
.alien-ui-imgclip-sw,
.alien-ui-imgclip-s,
.alien-ui-imgclip-nw,
.alien-ui-imgclip-w {
    width: 8px;
    height: 8px;
    background: rgba(255, 255, 255, 0.6);
}

.alien-ui-imgclip-n,
.alien-ui-imgclip-s {
    left: 50%;
    margin-left: -4px;
}

.alien-ui-imgclip-e,
.alien-ui-imgclip-w {
    top: 50%;
    margin-top: -4px;
}

.alien-ui-imgclip-n {
    top: 0;
    cursor: n-resize;
}

.alien-ui-imgclip-ne {
    top: 0;
    right: 0;
    cursor: ne-resize;
}

.alien-ui-imgclip-e {
    right: 0;
    cursor: e-resize;
}

.alien-ui-imgclip-se {
    bottom: 0;
    right: 0;
    cursor: se-resize;
}

.alien-ui-imgclip-s {
    bottom: 0;
    cursor: s-resize;
}

.alien-ui-imgclip-sw {
    left: 0;
    bottom: 0;
    cursor: sw-resize;
}

.alien-ui-imgclip-w {
    left: 0;
    cursor: w-resize;
}

.alien-ui-imgclip-nw {
    top: 0;
    left: 0;
    cursor: nw-resize;
}

.alien-ui-imgclip-selection > img {
    top: 0;
    left: 0;
    border: 0;
    border-radius: 0;
    box-shadow: 0;
    max-width: none;
    max-height: none;
}