.alien-ui-imgclip-bg{
    display: none;
    background: rgba(0, 0, 0, 0.36);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.alien-ui-imgclip-selection{
    display: none;
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    background: #fff;
    overflow: hidden;
}

.alien-ui-imgclip-selection > img{
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
    border-radius: 0;
    box-shadow: 0;
    max-width: none;
    max-height: none;
}